body {
    background-color: rgb(73, 221, 172);
}
h1 {
    text-align: center;
    color: rgb(0, 26, 255);
    font-size: 70px;
    text-underline-position: below;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


}
li {
    text-emphasis-position: yellow;
    color: rgb(7, 7, 7);
}

p {
    text-indent: 3mm;;
    margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-size-adjust: 36px;
}

h2,h3 {
    color: rgb(0, 26, 255);
    font-size: 28px; 
}

img {
column-width: 10in;
height: 7in;
margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 150px;
}
ol{
    text-emphasis-style: italic;
}
em {
    
}